<p>sign-up works!</p>
<!-- <form [formGroup] = "signUpForm" (ngSubmit)="onSubmit(signUpForm)">

    <input type="text" formControlName = "userName">
    <input type="text" formControlName = "email">
    <input type="text" formControlName = "password">

    <button type="submit" [disabled]="!signUpForm.valid">Submit</button>

</form> -->

<form name="form" [formGroup]="signUpForm">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="first name">First name</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="First name"
                [ngClass]="{'is-invalid': isFirstNameValid()}">
            <div *ngIf="isFirstNameValid()" class="invalid-feedback">
                <div *ngIf="signUpForm.get('firstName').errors.required">
                    Name is required.
                </div>
                <div *ngIf="signUpForm.get('firstName').errors.minlength">
                    Name must be at least 3 characters long.
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="last name">Last name</label>
            <input type="text" class="form-control" placeholder="Last name" formControlName="lastName"[ngClass]="{'is-invalid': isLastNameValid()}">
            <div *ngIf="isLastNameValid()" class="invalid-feedback">
                <div *ngIf="signUpForm.get('lastName').errors.required">
                    Name is required.
                </div>
                <div *ngIf="signUpForm.get('lastName').errors.minlength">
                    Name must be at least 3 characters long.
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="user name">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" formControlName="userName">
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationServer03">City</label>
            <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer04">State</label>
            <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
            <div class="invalid-feedback">
                Please provide a valid state.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer05">Zip</label>
            <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
            <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>